:root{
    --cor-branco: #ffffff;
    --cor-cinza: #667085;
    --cor-vermelho: #8E2424;
    --cor-cinza-escuro: #3A404E;
    --cor-cinza-dark: #101828;
}

body, html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FCFCFC;
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a, li{
    text-decoration: none;
    list-style-type: none;
}


.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 1rem;
    margin-bottom: 90px;
}

.menu__header ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.menu__header ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-cinza);
}

.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-cinza);
}

.button__header__red{
    background: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 18px;
    margin-left: 1rem;
}

.desc-inicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sobre-nos{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-vermelho);
    margin-bottom: 24px;
}

.desc-inicio h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--cor-cinza-dark);
    margin-bottom: 24px;
}

.descricao{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--cor-cinza);
    max-width: 790px;
    margin-bottom: 6.25rem;
}

.metricas-info{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
    align-items: center;
}

.dados{
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--cor-vermelho);
    margin-bottom: 12px;
}

.titulo-metrica{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--cor-cinza-dark);
    margin-bottom: 8px;
}

.desc-metricas{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-cinza);
}

.vagas{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.vagas_tag{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--cor-vermelho);
    margin-bottom: 20px;
}

.titulo_vagas{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--cor-cinza-dark);
    margin-bottom: 20px;
}

.desc_vagas{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-cinza);
    margin-bottom: 64px;
}

.vagas-abertas{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.vagas_abertas{
    margin: 0 auto;
}

.tipo-vaga{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-cinza-dark);
    margin-bottom: 30px;
}

.vaga-aberta{
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px; 
    width: 760px;
}

.titulo_vaga{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--cor-cinza-dark);
    margin-bottom: 32px;
}

.vaga-aberta span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-right: 24px;
}

.ux{
    margin-bottom: 40px;
}

